<main role="main" class="container">
    <div class="jumbotron">
      
        {{> intro}}

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>BizLand Bootstrap Template - Index</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="/img/favicon.png" rel="icon">
        <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="assets/css/style.css" rel="stylesheet">

        
    </head>

    <body>

        <!-- ======= Top Bar ======= -->
        <section id="topbar" class="d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope d-flex align-items-center"><a
                            href="mailto:contact@example.com">contact:info@Docucrypt.com</a></i>
                    <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 8886 3643 61</span></i>
                </div>
                <div class="social-links d-none d-md-flex align-items-center">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
                </div>
            </div>
        </section>

        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">

                <h1 class="logo"><a href="index.html">Docucrypt<span>.</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="#about">About</a></li>
                        <li><a class="nav-link scrollto" href="#services">Upload</a></li>
                        <li><a class="nav-link scrollto " href="#portfolio">Search/Verify</a></li>
                        <li><a class="nav-link scrollto" href="#team">Transaction History</a></li>
                        
                        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">
            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <h1>Welcome to <span>Docucrypt</span></h1>
                <h2>Team:404 Brain not Found</h2>
                <h2>
                    <h2>Vardhaman College of Engineering,Hyderabad</h2>
                    <div class="d-flex">
                        <a href="#about" class="btn-get-started scrollto">Prototype</a>
                    </div>
            </div>
        </section><!-- End Hero -->

        <main id="main">

            <!-- ======= Featured Services Section ======= -->
            <section id="featured-services" class="featured-services">
                <div class="container" data-aos="fade-up">

                    <div class="row">
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                <h4 class="title"><a href="">About</a></h4>
                                <p class="description">Working theory behind our prototype.</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="bx bx-file"></i></div>
                                <h4 class="title"><a href="">Upload</a></h4>
                                <p class="description">Upload your Documents/Files into blockchain.</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                <h4 class="title"><a href="">Verify</a></h4>
                                <p class="description">Verify the authenticity and also whether your document has been
                                    tampered with.</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                                <div class="icon"><i class="bx bx-world"></i></div>
                                <h4 class="title"><a href="">Transaction History</a></h4>
                                <p class="description">Keep track of your documents and timestamping them accordingly.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Featured Services Section -->

            <!-- ======= About Section ======= -->
            <section id="about" class="about section-bg">
                <div class="container" data-aos="fade-center">

                    <div class="section-title">
                        <h2>About</h2>
                        <h3>Team 404 <span>Brain {not} Found</span></h3>
                        <!-- <p>Team 404 Brain not found.</p> -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6" data-aos="fade-center" data-aos-delay="200">
                            <img src="\img\flow.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center"
                            data-aos="fade-up" data-aos-delay="100">
                            <h3>RV1259:-Technology demonstration of digital stamping of electronic communication/message
                                to know its
                                origin,
                                date, time and spread.</h3>
                            <p class="fst-italic">
                                Problem statements:
                            </p>
                            <ul>
                                <!-- <li>
                <i class="bx bx-store-alt"></i> -->
                                <div>
                                    <h5> Use of physical documents is cumbersome, and the world is moving towards the
                                        use of digital
                                        documents. Digital documents are convenient to use, but proving their
                                        authenticity is often a
                                        problem. Can it be proved that the document has not been altered? Is it possible
                                        to prove the
                                        document you received is identical to the one you viewed earlier? Since there is
                                        no common
                                        protocol to validate and verify digitized documents, the process of analyzing
                                        the documents in
                                        private and government institutions is difficult. If there is a mechanism to
                                        verify the authenticity
                                        of documents and to validate the authenticity and content of the documents, it
                                        would facilitate
                                        users to manage their digital documents. The proposed solution for the above
                                        mentioned problems
                                        using Blockchain technology.</h5>
                                    <h5>Secure storage, easy retrieval and protected access to government documents
                                        hinders efficient
                                        operations and increases costs for many governments. A blockchain-based system
                                        can serve as a
                                        verification clearinghouse for these documents by providing public and private
                                        proof of the veracity
                                        of a document or certification. A blockchain-based document verification system
                                        can also be used
                                        to issue digital certificates that are impossible to counterfeit. This helps
                                        eliminate reputational
                                        risks
                                        for an organization as well as improve trust and transparency by its
                                        stakeholders.</h5>
                                </div>
                                </li>
                                <!-- <li>
                <i class="bx bx-images"></i> -->
                                <div>
                                    <h5>Blockchain can solve the existing problem of verifying the validity of digital
                                        assets such as
                                        a picture of birth certificate, a pdf document stating any contract or a signed
                                        legal document
                                        specifying a business deal very efficiently and at a very low implementation
                                        cost. Due to the
                                        characteristics of the Blockchain (permanent decentralized ledger of
                                        information), these digital
                                        signatures can be accessed by anyone. Hence anyone with access to the Blockchain
                                        can now verify
                                        the authenticity of a digital asset without having to rely on trusted
                                        intermediaries.</h5>
                                    <h3>Digital signature</h3>
                                </div>
                                </li>
                            </ul>
                            <p>
                                A digital signature is a mathematical scheme for verifying the authenticity of digital
                                messages or
                                documents.Digital signatures use public and private key pairs to encrypt and decrypt
                                data.By using digital
                                signatures, data encrypted using a private key of a person can only be decrypted using
                                the same person’s public key.
                            </p>
                            <h3>What is Timestamping</h3>
                            <p>Trusted timestamping is the process of securely keeping track of the creation and
                                modification time of a
                                document.Timestamps define as the standard of certain documents or files that exists for
                                a certain time
                                period.</p>
                            <h3> What is TSA authority</h3>
                            <p>An authority permitted to time-stamp information on request. This authority can also be
                                the verification
                                body for the time-stamped information in the future.In trusted timestamping services,
                                time-stamped
                                information may be verified only if it is timestamped by an
                                authentic TSA .e.g. GlobalSign.com</p>
                           
                        </div>

                    </div>
            </section>

            <section id="skills" class="skills">
                <div class="container" data-aos="fade-up">
                    <div class="row skills-content">
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
            </section>

            {{!-- <section id="clients" class="clients section-bg"> --}}
                <div class="container" data-aos="zoom-in">

                    <div class="row">

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
                        </div>

                    </div>

                </div>
            </section><!-- End Clients Section -->

            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Upload</h2>
                        <h3>Upload your <span>Document</span></h3>
                    </div>

                    <!-- Our code of upload -->
                    <div class="row">

                        <div class="col">
                            <!-- <h4>Sign and Upload to Blockchain</h4> -->
                            <hr />
                            <form action="#">
                                <div class="form-group">
                                    <label for="uploadDocument">Upload document</label>
                                    <input type="file" class="form-control document upload" id="uploadDocument"
                                        placeholder="" name="document" required />
                                </div>
                                <div class="form-group">
                                    <label for="uploadUuid">Document name</label>
                                    <input type="text" class="form-control" id="uploadUuid" name="uuid" readonly />
                                </div>
                                <div class="form-group">
                                    <label for="hash">SHA512 of uploaded document</label>
                                    <textarea class="form-control" id="uploadHash" placeholder="" name="hash"
                                        readonly></textarea>
                                </div>

                                <button id="signButton" type="button" class="btn btn-primary">Save into
                                    Blockchain</button>
                                <span>Check mining status from the link below</span>
                            </form>
                            <br />
                            <div class="row">
                                <div class="col">
                                    Transaction hash:
                                    <span id="txHash">N/A</span>
                                    <br />
                                    Transaction Link:
                                    <span id="txLink">N/A</span>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript" src="js/sign.js">  </script>

                <div class="container">
                    <section id="services" class="services">
                        <div class="container" data-aos="fade-up">
                            <div class="section-title">
                                <h2>Search/Verify</h2>
                                <h3>Upload your <span>Document to be verified.</span></h3>
                            </div>
                            <div class="row">

                                <div class="col">
                                    <h4>Verify From Blockchain</h4>
                                    <hr />
                                    <form action="#">

                                        <div class="form-group">
                                            <label for="verifyDocument">Document to be verified </label>
                                            <input type="file" class="form-control document verify" id="verifyDocument"
                                                placeholder="" name="verifyDocument" required />
                                        </div>

                                        <div class="form-group">
                                            <label for="hash">SHA512 of uploaded document</label>
                                            <textarea class="form-control" id="verifyHash" placeholder="" name="hash"
                                                readonly></textarea>
                                        </div>
                                        <button id="verifyButton" type="button" class="btn btn-success">Verify</button>
                                        <i>(Please try verification after the transaction is mined)</i>
                                    </form>
                                    <br />
                                    <div class="alert alert-primary d-none" role="alert">
                                        <span id="verifyStatus"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <script type="text/javascript" src="js/sign.js">  </script>

                        <div class="scroll">
                            <h2>Transaction History</h2>
                            <h3>Get details <span>Of the Transactions done</span></h3>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="scroll">
                                    <table id="example" class="display" style="width:100%">
                                        <thead>
                                            <th>Document name</th>
                                            <th>Document hash</th>
                                            <th>Timestamp</th>
                                            <th>Blockchain URL</th>
                                            <th>Verify</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Verify From Blockchain</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col">
                                            <form action="#">

                                                <div class="form-group">
                                                    <label for="verifyDocument">Document to be verified </label>
                                                    <input type="file" class="form-control document verify"
                                                        id="verifyDocument" placeholder="" name="verifyDocument"
                                                        required />
                                                </div>

                                                <div class="form-group">
                                                    <label for="hash">SHA512 of uploaded document</label>
                                                    <textarea class="form-control" id="verifyHash" placeholder=""
                                                        name="hash" readonly></textarea>
                                                    <input id="selectedHash" type="hidden" name="hash" />
                                                </div>
                                                <button id="verifyHashButton" type="button"
                                                    class="btn btn-success">Verify</button>
                                            </form>
                                            <br />
                                            <div class="alert alert-primary" role="alert">
                                                <span id="verifyStatus"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
                <script type="text/javascript" src="js/sign.js">  </script>
                <script type="text/javascript"
                    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js">  </script>

                <script type="text/javascript">
                    $(document).ready(function () {

                        $("body").on("click", ".verifyHash", function () {
                            $('#verifyHash').val('');
                            $('#selectedHash').val($(this).attr('data-hash'));
                            $('#verifyStatus').html('');
                            $('#verifyDocument').val('');
                        });

                        $('#verifyHashButton').click(function () {
                            if ($('#selectedHash').val() == $('#verifyHash').val()) {
                                $('#verifyStatus').html('Congratulations...Selected hash is matched with the hash of selected file.');
                            } else {
                                $('#verifyStatus').html('Sorry!!! Hash is not matched, the document is incorrect or tampered.');
                            }
                        });

                        $('#example').DataTable({
                            "ajax": '/api/transaction/list',
                            order: [[2, "desc"]],
                            columns: [
                                { data: 0 },
                                { data: 1 },
                                { data: 2 },
                                {
                                    data: 3,
                                    render: function (data, type, row, meta) {
                                        if (type === 'display') {
                                            link = '<a target="_blank" href="https://ropsten.etherscan.io/tx/' + data + '">URL</a>';
                                        }

                                        return link;
                                    }
                                },
                                {
                                    data: 1,
                                    render: function (data, type, row, meta) {
                                        if (type === 'display') {
                                            link = '<a data-hash="' + data + '" class="verifyHash btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">Verify</a>';
                                        }
                                        return link;
                                    }
                                },
                            ]
                        });
                    });
                </script>
        </main>